@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "nunito", sans-serif;
  background: #448538;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  background: white;
  color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.input-group{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

input{
  flex-basis: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
}

button {
  background: #00513F;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

.ticket-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap; /* ✅ biar kalau sempit turun ke bawah */
}

.ticket-box {
  flex: 1;
  border: 1.5px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  min-width: 120px; 
}

.ticket-box.active {
  border: 1.5px solid green;
  background: #eef5ff;
}

.price {
  color: green;
  font-weight: bold;
}
.payment-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.payment-box {
  border: 1.5px solid #ccc;
  border-radius: 6px;
  padding: 6px 12px 8px 12px;
  cursor: pointer;
  background: white;
  text-align: center;
  
}

/* sembunyikan radio default */
.payment-box input[type="radio"] {
  accent-color: green;
}

/* saat dipilih */
.payment-box.active {
  border: 1.5px solid green;
  background: #e6ffed;
}

.total {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: green;
}

.muted {
  color: gray;
  font-style: italic;
}


@media (min-width: 768px) {
  .success-box{
    width: 450px;
  };
}

.success-box {
  margin: 0 auto;
  background: #fff;
  color: #222;
  /* border: 1px solid #b2f2bb; */
  padding: 20px;
  border-radius: 8px;
}

.success-box .total {
  color: #448538;
  font-size: 1.2em;
}
